<a href="https://colab.research.google.com/github/donghwi2022/ds-sa-cp2-phase2/blob/%EC%8B%A0%EB%8F%99%ED%9C%98/additional_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 필요 라이브러리 import

In [1]:
import pandas as pd

In [33]:
pd.set_option('display.max_columns', None)

# 2. 파일 load

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/cp2_phase2_data/fashion_log.csv", index_col=0)

# 3. 추가 전처리 진행

## 1. Parquet(파케이)를 사용해서 파일 용량 줄이기

### 1. 파케이를 사용하기 전 메모리 사용량

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 33 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   session_id              1254585 non-null  int64
 3   payment_method          1254585 non-null  object
 4   payment_status          1254585 non-null  object
 5   promo_amount            1254585 non-null  int64
 6   promo_code              481139 non-null   object
 7   shipment_fee            1254585 non-null  int64
 8   shipment_date_limit     1254585 non-null  object
 9   shipment_location_lat   1254585 non-null  float64
 10  shipment_location_long  1254585 non-null  float64
 11  total_amount            1254585 non-null  int64
 12  product_id              1254585 non-null  int64
 13  quantity                1254585 non-null  int64
 14  item_price              1254585 non-null  int64
 15  product_gender          1254585 non-null  object
 16  masterCategory          1254585 non-null  object
 17  subCategory             1254585 non-null  object
 18  articleType             1254585 non-null  object
 19  baseColor               1254178 non-null  object
 20  season                  1253982 non-null  object
 21  year                    1254557 non-null  float64
 22  usage                   1245714 non-null  object
 23  productDisplayName      1254412 non-null  object
 24  customer_gender         1254585 non-null  object
 25  birthdate               1254585 non-null  object
 26  device_type             1254585 non-null  object
 27  device_id               1254585 non-null  int64
 28  device_version          1254585 non-null  object
 29  home_location_lat       1254585 non-null  float64
 30  home_location_long      1254585 non-null  float64
 31  home_location           1254585 non-null  object
 32  first_join_date         1254585 non-null  object
dtypes: float64(5), int64(9), object(19)
memory usage: 325.4+ MB

In [5]:
df.memory_usage()

Index                     10036680
created_at                10036680
customer_id               10036680
session_id                10036680
payment_method            10036680
payment_status            10036680
promo_amount              10036680
promo_code                10036680
shipment_fee              10036680
shipment_date_limit       10036680
shipment_location_lat     10036680
shipment_location_long    10036680
total_amount              10036680
product_id                10036680
quantity                  10036680
item_price                10036680
product_gender            10036680
masterCategory            10036680
subCategory               10036680
articleType               10036680
baseColor                 10036680
season                    10036680
year                      10036680
usage                     10036680
productDisplayName        10036680
customer_gender           10036680
birthdate                 10036680
device_type               10036680
device_id                 10036680
device_version            10036680
home_location_lat         10036680
home_location_long        10036680
home_location             10036680
first_join_date           10036680
dtype: int64

### 2. 파케이를 사용하여 데이터 저장 후 load해서 메모리 사용량 비교

In [82]:
df.to_parquet("df.parquet")

In [83]:
df_2 = pd.read_parquet("/content/df.parquet")

In [84]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 33 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   session_id              1254585 non-null  int64
 3   payment_method          1254585 non-null  object
 4   payment_status          1254585 non-null  object
 5   promo_amount            1254585 non-null  int64
 6   promo_code              481139 non-null   object
 7   shipment_fee            1254585 non-null  int64
 8   shipment_date_limit     1254585 non-null  object
 9   shipment_location_lat   1254585 non-null  float64
 10  shipment_location_long  1254585 non-null  float64
 11  total_amount            1254585 non-null  int64
 12  product_id              1254585 non-null  int64
 13  quantity                1254585 non-null  int64
 14  item_price              1254585 non-null  int64
 15  product_gender          1254585 non-null  object
 16  masterCategory          1254585 non-null  object
 17  subCategory             1254585 non-null  object
 18  articleType             1254585 non-null  object
 19  baseColor               1254178 non-null  object
 20  season                  1253982 non-null  object
 21  year                    1254557 non-null  float64
 22  usage                   1245714 non-null  object
 23  productDisplayName      1254412 non-null  object
 24  customer_gender         1254585 non-null  object
 25  birthdate               1254585 non-null  object
 26  device_type             1254585 non-null  object
 27  device_id               1254585 non-null  int64
 28  device_version          1254585 non-null  object
 29  home_location_lat       1254585 non-null  float64
 30  home_location_long      1254585 non-null  float64
 31  home_location           1254585 non-null  object
 32  first_join_date         1254585 non-null  object
dtypes: float64(5), int64(9), object(19)
memory usage: 325.4+ MB

In [9]:
df_2.memory_usage()

Index                     10036680
created_at                10036680
customer_id               10036680
session_id                10036680
payment_method            10036680
payment_status            10036680
promo_amount              10036680
promo_code                10036680
shipment_fee              10036680
shipment_date_limit       10036680
shipment_location_lat     10036680
shipment_location_long    10036680
total_amount              10036680
product_id                10036680
quantity                  10036680
item_price                10036680
product_gender            10036680
masterCategory            10036680
subCategory               10036680
articleType               10036680
baseColor                 10036680
season                    10036680
year                      10036680
usage                     10036680
productDisplayName        10036680
customer_gender           10036680
birthdate                 10036680
device_type               10036680
device_id                 10036680
device_version            10036680
home_location_lat         10036680
home_location_long        10036680
home_location             10036680
first_join_date           10036680
dtype: int64

### 3. 결론
: 파케이를 사용해서 파일 용량을 줄일 순 있으나 colab에서 데이터를 load할 때 차지하는 메모리는 변화가 없어 데이터에 대한 전처리가 필요

## 2. 데이터에 대한 추가 전처리 진행

In [41]:
df_ver2 = df.drop(columns=['shipment_date_limit', 'shipment_location_lat', 'shipment_location_long', 'home_location_lat', 'home_location_long', 'device_id', 'device_version'])

In [42]:
df_ver2['Category'] = df_ver2['masterCategory'] + " " + df_ver2['subCategory'] + " " + df_ver2['articleType']
df_ver2.drop(columns=['masterCategory', 'subCategory', 'articleType'], inplace=True)

In [43]:
df_ver2

,created_at,customer_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,total_amount,product_id,quantity,item_price,product_gender,baseColor,season,year,usage,productDisplayName,customer_gender,birthdate,device_type,home_location,first_join_date,Category
0,2018-07-29T15:22:01,5868,194913,Debit Card,Success,1415,WEEKENDSERU,10000,199832,54728,1,191247,Men,Black,Summer,2012.0,Casual,Vans Men Black Shoes,F,2000-08-20,Android,Jakarta Raya,2018-07-28,Footwear Shoes Casual Shoes
1,2018-07-30T12:40:22,4774,155874,Credit Card,Success,0,NaN,10000,155526,16193,1,145526,Men,Green,Fall,2011.0,Casual,Puma Men Knitted Vest Green Sweater,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Apparel Topwear Sweaters
2,2018-09-15T11:51:17,4774,489413,OVO,Success,0,NaN,10000,550696,53686,4,135174,Women,Purple,Summer,2012.0,Casual,Kiara Women Purple & Yellow Handbag,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Accessories Bags Handbags
3,2018-11-01T11:23:48,4774,627839,Credit Card,Success,0,NaN,0,271012,20228,1,271012,Women,Red,Fall,2011.0,Casual,Wrangler Women Cable Red Sweater,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Apparel Topwear Sweaters
4,2018-12-18T11:20:30,4774,742846,Credit Card,Success,0,NaN,0,198753,55220,1,198753,Women,Brown,Spring,2017.0,Casual,Lakme Absolute Forever Silk Chestnut Lip Liner 03,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Personal Care Lips Lip Liner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254580,2021-09-21T22:10:05,25121,239980,Debit Card,Failed,0,NaN,0,226820,30642,2,113410,Men,White,Summer,2012.0,Casual,Nike Men Printed White T-shirt,M,1993-05-19,Android,Jawa Tengah,2020-11-12,Apparel Topwear Tshirts
1254581,2021-12-09T07:35:18,34829,496378,OVO,Success,5010,AZ2022,10000,359203,19394,1,354213,Men,Blue,Summer,2011.0,Casual,ADIDAS Men Solid Blue Jacket,F,2006-04-21,Android,Sulawesi Selatan,2021-12-08,Apparel Topwear Jackets
1254582,2021-12-11T01:20:36,99645,769040,Credit Card,Success,2181,WEEKENDSERU,5000,1158159,13079,4,288835,Men,White,Fall,2011.0,Casual,Numero Uno Men White Casual Shoes,F,1991-03-17,Android,Jakarta Raya,2021-12-08,Footwear Shoes Casual Shoes
1254583,2019-12-18T11:01:09,87319,623782,Credit Card,Success,4503,AZ2022,0,184143,11312,1,188646,Men,Beige,Fall,2011.0,Casual,Scullers Men Rugged Chinos Beige Trousers,F,2007-10-26,iOS,Jawa Tengah,2019-12-18,Apparel Bottomwear Trousers
1254584,2019-12-19T12:47:14,58180,312730,Gopay,Success,4724,BUYMORE,10000,365963,47433,1,360687,Women,Brown,Summer,2012.0,Casual,Baggit Women Brown Handbag,F,2003-11-04,Android,Jakarta Raya,2019-12-18,Accessories Bags Handbags

In [44]:
df_ver2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1254585 non-null  object
 1   customer_id         1254585 non-null  int64
 2   session_id          1254585 non-null  int64
 3   payment_method      1254585 non-null  object
 4   payment_status      1254585 non-null  object
 5   promo_amount        1254585 non-null  int64
 6   promo_code          481139 non-null   object
 7   shipment_fee        1254585 non-null  int64
 8   total_amount        1254585 non-null  int64
 9   product_id          1254585 non-null  int64
 10  quantity            1254585 non-null  int64
 11  item_price          1254585 non-null  int64
 12  product_gender      1254585 non-null  object
 13  baseColor           1254178 non-null  object
 14  season              1253982 non-null  object
 15  year                1254557 non-null  float64
 16  usage               1245714 non-null  object
 17  productDisplayName  1254412 non-null  object
 18  customer_gender     1254585 non-null  object
 19  birthdate           1254585 non-null  object
 20  device_type         1254585 non-null  object
 21  home_location       1254585 non-null  object
 22  first_join_date     1254585 non-null  object
 23  Category            1254585 non-null  object
dtypes: float64(1), int64(8), object(15)
memory usage: 239.3+ MB

In [47]:
df_ver2['baseColor'] = df_ver2['baseColor'].fillna('Unknown')
df_ver2['promo_code'] = df_ver2['promo_code'].fillna('No')
df_ver2['usage'] = df_ver2['usage'].fillna('Unknown')
df_ver2['productDisplayName'] = df_ver2['productDisplayName'].fillna('Unknown')
df_ver2['season'] = df_ver2['season'].fillna('Unknown')
df_ver2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1254585 non-null  object
 1   customer_id         1254585 non-null  int64
 2   session_id          1254585 non-null  int64
 3   payment_method      1254585 non-null  object
 4   payment_status      1254585 non-null  object
 5   promo_amount        1254585 non-null  int64
 6   promo_code          1254585 non-null  object
 7   shipment_fee        1254585 non-null  int64
 8   total_amount        1254585 non-null  int64
 9   product_id          1254585 non-null  int64
 10  quantity            1254585 non-null  int64
 11  item_price          1254585 non-null  int64
 12  product_gender      1254585 non-null  object
 13  baseColor           1254585 non-null  object
 14  season              1254585 non-null  object
 15  year                1254557 non-null  float64
 16  usage               1254585 non-null  object
 17  productDisplayName  1254585 non-null  object
 18  customer_gender     1254585 non-null  object
 19  birthdate           1254585 non-null  object
 20  device_type         1254585 non-null  object
 21  home_location       1254585 non-null  object
 22  first_join_date     1254585 non-null  object
 23  Category            1254585 non-null  object
dtypes: float64(1), int64(8), object(15)
memory usage: 239.3+ MB

In [48]:
df_ver2.isnull().sum()

created_at             0
customer_id            0
session_id             0
payment_method         0
payment_status         0
promo_amount           0
promo_code             0
shipment_fee           0
total_amount           0
product_id             0
quantity               0
item_price             0
product_gender         0
baseColor              0
season                 0
year                  28
usage                  0
productDisplayName     0
customer_gender        0
birthdate              0
device_type            0
home_location          0
first_join_date        0
Category               0
dtype: int64

In [49]:
df_ver2[df_ver2['year'].isnull() == True]

,created_at,customer_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,total_amount,product_id,quantity,item_price,product_gender,baseColor,season,year,usage,productDisplayName,customer_gender,birthdate,device_type,home_location,first_join_date,Category
60711,2021-03-22T18:14:19,5278,392237,Gopay,Success,5039,BUYMORE,0,2472636,53781,1,316673,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1992-10-30,iOS,Nusa Tenggara Timur,2020-07-12,Apparel Topwear Tshirts
218728,2021-04-28T16:00:29,4973,825031,Gopay,Success,0,No,10000,291620,53781,1,281620,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,2000-12-30,iOS,Kalimantan Timur,2020-07-26,Apparel Topwear Tshirts
308533,2021-06-06T21:25:02,9173,218069,Gopay,Success,0,No,50000,259560,53781,1,209560,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,2000-03-09,iOS,Nusa Tenggara Barat,2017-03-11,Apparel Topwear Tshirts
333244,2019-08-30T13:46:12,97183,435094,Debit Card,Success,0,No,5000,1372942,53781,1,283685,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,2000-11-18,iOS,Kalimantan Timur,2018-04-29,Apparel Topwear Tshirts
342915,2017-09-03T14:18:40,34818,93284,Debit Card,Success,3791,WEEKENDSERU,10000,240290,53781,1,234081,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,2005-02-14,Android,Yogyakarta,2017-02-25,Apparel Topwear Tshirts
422521,2020-10-10T15:42:27,1421,431566,LinkAja,Success,0,No,5000,4803848,53781,1,169640,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1990-10-11,Android,Jawa Tengah,2020-10-10,Apparel Topwear Tshirts
451173,2021-08-08T21:24:51,34130,784591,Gopay,Success,0,No,0,328461,53781,1,328461,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1999-05-30,iOS,Jakarta Raya,2018-04-07,Apparel Topwear Tshirts
500204,2020-05-12T08:43:06,87102,465508,OVO,Success,0,No,0,4315633,53781,1,136379,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1997-10-01,Android,Yogyakarta,2019-02-09,Apparel Topwear Tshirts
578963,2021-12-01T07:12:30,74255,259674,Credit Card,Failed,0,No,0,243620,53781,2,121810,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1998-01-04,Android,Jawa Timur,2021-08-29,Apparel Topwear Tshirts
583966,2022-01-01T01:02:40,90162,374627,Credit Card,Success,4039,WEEKENDSERU,25000,204383,53781,1,183422,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1999-05-23,iOS,Bengkulu,2019-03-17,Apparel Topwear Tshirts
604584,2021-05-09T22:35:00,65221,230969,Debit Card,Success,0,No,0,643378,53781,1,165385,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1996-05-30,Android,Jawa Tengah,2020-09-13,Apparel Topwear Tshirts
632121,2021-01-12T01:23:59,18945,70608,Debit Card,Success,4861,XX2022,10000,617353,53781,3,159354,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,2007-07-16,Android,Sulawesi Utara,2019-03-23,Apparel Topwear Tshirts
687400,2021-07-23T13:54:15,58244,479367,LinkAja,Success,0,No,10000,263839,53781,1,253839,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1996-07-22,Android,Jakarta Raya,2020-09-26,Apparel Topwear Tshirts
717703,2019-11-10T00:47:32,9438,783047,OVO,Success,0,No,10000,203064,53781,1,193064,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1984-08-30,Android,Sulawesi Utara,2018-10-27,Apparel Topwear Tshirts
732749,2022-06-29T05:38:54,9501,662060,LinkAja,Success,0,No,10000,275781,53781,1,265781,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1998-10-18,Android,Kalimantan Tengah,2021-02-06,Apparel Topwear Tshirts
734056,2021-07-22T16:54:41,73754,731863,Debit Card,Success,0,No,0,1583632,53781,8,197954,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1998-04-09,Android,Jawa Barat,2020-11-22,Apparel Topwear Tshirts
762842,2022-05-19T21:15:27,97031,120104,LinkAja,Success,0,No,0,589410,53781,3,196470,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1976-09-06,Android,Kalimantan Selatan,2021-09-19,Apparel Topwear Tshirts
770665,2021-08-21T18:47:19,70949,217524,Gopay,Success,0,No,10000,2236462,53781,1,363519,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1995-06-17,Android,Jakarta Raya,2021-08-21,Apparel Topwear Tshirts
850663,2022-05-04T23:02:39,18760,611149,Credit Card,Success,0,No,10000,238009,53781,1,228009,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1998-11-29,Android,Lampung,2021-06-26,Apparel Topwear Tshirts
889358,2019-11-01T12:11:08,55345,369495,Gopay,Success,14466,STARTUP,10000,329998,53781,1,334464,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1992-08-12,Android,Sulawesi Selatan,2019-06-08,Apparel Topwear Tshirts
890954,2019-10-17T04:13:43,80582,659289,OVO,Success,5456,AZ2022,10000,650429,53781,3,215295,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,2001-02-28,iOS,Jawa Timur,2018-11-17,Apparel Topwear Tshirts
894850,2019-01-05T05:06:53,85092,464600,LinkAja,Success,4340,LIBURDONG,10000,215653,53781,1,209993,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1998-09-18,iOS,Jakarta Raya,2017-12-24,Apparel Topwear Tshirts
912794,2021-06-30T04:07:54,80516,799649,OVO,Failed,0,No,0,343144,53781,1,343144,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1990-12-09,Android,Jakarta Raya,2021-03-21,Apparel Topwear Tshirts
1067731,2022-06-19T18:10:50,46666,648668,OVO,Success,0,No,10000,780803,53781,1,476622,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,2003-02-10,Android,Jakarta Raya,2020-02-03,Apparel Topwear Tshirts
1106940,2019-07-22T16:37:11,68187,827517,LinkAja,Success,3174,XX2022,15000,186252,53781,1,174426,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1991-01-29,Android,Maluku Utara,2017-07-12,Apparel Topwear Tshirts
1151069,2022-07-22T11:54:25,86911,298721,Debit Card,Success,5932,BUYMORE,10000,192554,53781,1,188486,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,1992-07-09,Android,Jawa Timur,2022-07-19,Apparel Topwear Tshirts
1234018,2022-03-21T13:02:55,10903,185133,Gopay,Success,3365,AZ2022,15000,220840,53781,1,209205,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,F,1986-11-01,Android,Kalimantan Tengah,2020-01-29,Apparel Topwear Tshirts
1242053,2021-01-25T01:50:02,72927,737359,OVO,Success,0,No,10000,367246,53781,1,357246,Men,Blue,Unknown,NaN,Sports,Puma Men Blue Sless Round Neck T-shirt,M,2000-03-08,Android,Jawa Timur,2019-12-04,Apparel Topwear Tshirts

In [58]:
df_ver2.dropna(subset=['year'], inplace=True)

In [66]:
df_ver3 = df_ver2[df_ver2['payment_status'] == 'Success'].drop(columns=['payment_status'])
df_ver3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201009 entries, 0 to 1254584
Data columns (total 23 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1201009 non-null  object
 1   customer_id         1201009 non-null  int64
 2   session_id          1201009 non-null  int64
 3   payment_method      1201009 non-null  object
 4   promo_amount        1201009 non-null  int64
 5   promo_code          1201009 non-null  object
 6   shipment_fee        1201009 non-null  int64
 7   total_amount        1201009 non-null  int64
 8   product_id          1201009 non-null  int64
 9   quantity            1201009 non-null  int64
 10  item_price          1201009 non-null  int64
 11  product_gender      1201009 non-null  object
 12  baseColor           1201009 non-null  object
 13  season              1201009 non-null  object
 14  year                1201009 non-null  float64
 15  usage               1201009 non-null  object
 16  productDisplayName  1201009 non-null  object
 17  customer_gender     1201009 non-null  object
 18  birthdate           1201009 non-null  object
 19  device_type         1201009 non-null  object
 20  home_location       1201009 non-null  object
 21  first_join_date     1201009 non-null  object
 22  Category            1201009 non-null  object
dtypes: float64(1), int64(8), object(14)
memory usage: 219.9+ MB

In [69]:
num_cols = [col for col in df_ver3.columns if df_ver3[col].dtype!='object']
cat_cols = [col for col in df_ver3.columns if col not in num_cols]
df_ver3[num_cols] = df_ver3[num_cols].astype('int32')
df_ver3[cat_cols] = df_ver3[cat_cols].astype('category')

In [70]:
df_ver3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201009 entries, 0 to 1254584
Data columns (total 23 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1201009 non-null  category
 1   customer_id         1201009 non-null  int32
 2   session_id          1201009 non-null  int32
 3   payment_method      1201009 non-null  category
 4   promo_amount        1201009 non-null  int32
 5   promo_code          1201009 non-null  category
 6   shipment_fee        1201009 non-null  int32
 7   total_amount        1201009 non-null  int32
 8   product_id          1201009 non-null  int32
 9   quantity            1201009 non-null  int32
 10  item_price          1201009 non-null  int32
 11  product_gender      1201009 non-null  category
 12  baseColor           1201009 non-null  category
 13  season              1201009 non-null  category
 14  year                1201009 non-null  int32
 15  usage               1201009 non-null  category
 16  productDisplayName  1201009 non-null  category
 17  customer_gender     1201009 non-null  category
 18  birthdate           1201009 non-null  category
 19  device_type         1201009 non-null  category
 20  home_location       1201009 non-null  category
 21  first_join_date     1201009 non-null  category
 22  Category            1201009 non-null  category
dtypes: category(14), int32(9)
memory usage: 114.6 MB

In [71]:
df_ver3.columns

Index(['created_at', 'customer_id', 'session_id', 'payment_method',
       'promo_amount', 'promo_code', 'shipment_fee', 'total_amount',
       'product_id', 'quantity', 'item_price', 'product_gender', 'baseColor',
       'season', 'year', 'usage', 'productDisplayName', 'customer_gender',
       'birthdate', 'device_type', 'home_location', 'first_join_date',
       'Category'],
      dtype='object')

In [73]:
df_ver4 = df_ver3[['created_at', 'session_id', 'payment_method', 'promo_amount', 'promo_code', 'shipment_fee','total_amount', 
                   'product_id', 'productDisplayName', 'quantity', 'item_price', 'product_gender', 'baseColor', 'season', 'year', 'usage', 'Category', 
                   'customer_id', 'customer_gender', 'birthdate', 'device_type', 'home_location', 'first_join_date']]

In [74]:
df_ver4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201009 entries, 0 to 1254584
Data columns (total 23 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1201009 non-null  category
 1   session_id          1201009 non-null  int32
 2   payment_method      1201009 non-null  category
 3   promo_amount        1201009 non-null  int32
 4   promo_code          1201009 non-null  category
 5   shipment_fee        1201009 non-null  int32
 6   total_amount        1201009 non-null  int32
 7   product_id          1201009 non-null  int32
 8   productDisplayName  1201009 non-null  category
 9   quantity            1201009 non-null  int32
 10  item_price          1201009 non-null  int32
 11  product_gender      1201009 non-null  category
 12  baseColor           1201009 non-null  category
 13  season              1201009 non-null  category
 14  year                1201009 non-null  int32
 15  usage               1201009 non-null  category
 16  Category            1201009 non-null  category
 17  customer_id         1201009 non-null  int32
 18  customer_gender     1201009 non-null  category
 19  birthdate           1201009 non-null  category
 20  device_type         1201009 non-null  category
 21  home_location       1201009 non-null  category
 22  first_join_date     1201009 non-null  category
dtypes: category(14), int32(9)
memory usage: 114.6 MB

### 1. 전처리 진행 내용
- shipment_date_limit', 'shipment_location_lat', 'shipment_location_long', 'home_location_lat', 'home_location_long', 'device_id', 'device_version' 컬럼 드랍
- 카테고리에 해당하는 'masterCategory', 'subCategory', 'articleType'의 3개의 칼럼을 'Category' 컬럼으로 통합
- 결측치 처리 내용
    - baseColor : 'Unknown'으로 결측치 채움
    - promo_code : 'No'로 결측치 채움
    - usage : 'Unknown'으로 결측치 채움
    - productDisplayName : 'Unknown'으로 결측치 채움
    - season : 'Unknown'으로 결측치 채움
    - year : 결측치에 해당하는 행 삭제
- 구매에 실패한 데이터 삭제후, 'payment_status' 컬럼 삭제
- 데이터 타입 변경(파케이로 데이터 저장시 변경한 데이터 타입이 유지)

### 2. 파케이로 저장

In [78]:
df_ver4.to_csv('fashion_logs.csv')

In [75]:
df_ver4.to_parquet('fashion_logs.parquet')

In [80]:
data = pd.read_csv("/content/fashion_logs.csv")

In [76]:
data_2 = pd.read_parquet("/content/fashion_logs.parquet")

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201009 entries, 0 to 1201008
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Unnamed: 0          1201009 non-null  int64
 1   created_at          1201009 non-null  object
 2   session_id          1201009 non-null  int64
 3   payment_method      1201009 non-null  object
 4   promo_amount        1201009 non-null  int64
 5   promo_code          1201009 non-null  object
 6   shipment_fee        1201009 non-null  int64
 7   total_amount        1201009 non-null  int64
 8   product_id          1201009 non-null  int64
 9   productDisplayName  1201009 non-null  object
 10  quantity            1201009 non-null  int64
 11  item_price          1201009 non-null  int64
 12  product_gender      1201009 non-null  object
 13  baseColor           1201009 non-null  object
 14  season              1201009 non-null  object
 15  year                1201009 non-null  int64
 16  usage               1201009 non-null  object
 17  Category            1201009 non-null  object
 18  customer_id         1201009 non-null  int64
 19  customer_gender     1201009 non-null  object
 20  birthdate           1201009 non-null  object
 21  device_type         1201009 non-null  object
 22  home_location       1201009 non-null  object
 23  first_join_date     1201009 non-null  object
dtypes: int64(10), object(14)
memory usage: 219.9+ MB

In [77]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201009 entries, 0 to 1254584
Data columns (total 23 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1201009 non-null  category
 1   session_id          1201009 non-null  int32
 2   payment_method      1201009 non-null  category
 3   promo_amount        1201009 non-null  int32
 4   promo_code          1201009 non-null  category
 5   shipment_fee        1201009 non-null  int32
 6   total_amount        1201009 non-null  int32
 7   product_id          1201009 non-null  int32
 8   productDisplayName  1201009 non-null  category
 9   quantity            1201009 non-null  int32
 10  item_price          1201009 non-null  int32
 11  product_gender      1201009 non-null  category
 12  baseColor           1201009 non-null  category
 13  season              1201009 non-null  category
 14  year                1201009 non-null  int32
 15  usage               1201009 non-null  category
 16  Category            1201009 non-null  category
 17  customer_id         1201009 non-null  int32
 18  customer_gender     1201009 non-null  category
 19  birthdate           1201009 non-null  category
 20  device_type         1201009 non-null  category
 21  home_location       1201009 non-null  category
 22  first_join_date     1201009 non-null  category
dtypes: category(14), int32(9)
memory usage: 114.6 MB