<a href="https://colab.research.google.com/github/donghwi2022/ds-sa-cp2-phase2/blob/%EC%8B%A0%EB%8F%99%ED%9C%98/additional_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 필요 라이브러리 import

In [1]:
import pandas as pd

In [33]:
pd.set_option('display.max_columns', None)

# 2. 파일 load

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/cp2_phase2_data/fashion_log.csv", index_col=0)

# 3. 추가 전처리 진행

## 1. Parquet(파케이)를 사용해서 파일 용량 줄이기

### 1. 파케이를 사용하기 전 메모리 사용량

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 33 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   session_id              1254585 non-null  int64
 3   payment_method          1254585 non-null  object
 4   payment_status          1254585 non-null  object
 5   promo_amount            1254585 non-null  int64
 6   promo_code              481139 non-null   object
 7   shipment_fee            1254585 non-null  int64
 8   shipment_date_limit     1254585 non-null  object
 9   shipment_location_lat   1254585 non-null  float64
 10  shipment_location_long  1254585 non-null  float64
 11  total_amount            1254585 non-null  int64
 12  product_id              1254585 non-null  int64
 13  quantity                1254585 non-null  int64
 14  item_price              1254585 non-null  int64
 15  product_gender          1254585 non-null  object
 16  masterCategory          1254585 non-null  object
 17  subCategory             1254585 non-null  object
 18  articleType             1254585 non-null  object
 19  baseColor               1254178 non-null  object
 20  season                  1253982 non-null  object
 21  year                    1254557 non-null  float64
 22  usage                   1245714 non-null  object
 23  productDisplayName      1254412 non-null  object
 24  customer_gender         1254585 non-null  object
 25  birthdate               1254585 non-null  object
 26  device_type             1254585 non-null  object
 27  device_id               1254585 non-null  int64
 28  device_version          1254585 non-null  object
 29  home_location_lat       1254585 non-null  float64
 30  home_location_long      1254585 non-null  float64
 31  home_location           1254585 non-null  object
 32  first_join_date         1254585 non-null  object
dtypes: float64(5), int64(9), object(19)
memory usage: 325.4+ MB

In [5]:
df.memory_usage()

Index                     10036680
created_at                10036680
customer_id               10036680
session_id                10036680
payment_method            10036680
payment_status            10036680
promo_amount              10036680
promo_code                10036680
shipment_fee              10036680
shipment_date_limit       10036680
shipment_location_lat     10036680
shipment_location_long    10036680
total_amount              10036680
product_id                10036680
quantity                  10036680
item_price                10036680
product_gender            10036680
masterCategory            10036680
subCategory               10036680
articleType               10036680
baseColor                 10036680
season                    10036680
year                      10036680
usage                     10036680
productDisplayName        10036680
customer_gender           10036680
birthdate                 10036680
device_type               10036680
device_id                 10036680
device_version            10036680
home_location_lat         10036680
home_location_long        10036680
home_location             10036680
first_join_date           10036680
dtype: int64

### 2. 파케이를 사용하여 데이터 저장 후 load해서 메모리 사용량 비교

In [6]:
df.to_parquet("df.parquet.gzip")

In [7]:
df_2 = pd.read_parquet("/content/df.parquet.gzip")

In [8]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 33 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   session_id              1254585 non-null  int64
 3   payment_method          1254585 non-null  object
 4   payment_status          1254585 non-null  object
 5   promo_amount            1254585 non-null  int64
 6   promo_code              481139 non-null   object
 7   shipment_fee            1254585 non-null  int64
 8   shipment_date_limit     1254585 non-null  object
 9   shipment_location_lat   1254585 non-null  float64
 10  shipment_location_long  1254585 non-null  float64
 11  total_amount            1254585 non-null  int64
 12  product_id              1254585 non-null  int64
 13  quantity                1254585 non-null  int64
 14  item_price              1254585 non-null  int64
 15  product_gender          1254585 non-null  object
 16  masterCategory          1254585 non-null  object
 17  subCategory             1254585 non-null  object
 18  articleType             1254585 non-null  object
 19  baseColor               1254178 non-null  object
 20  season                  1253982 non-null  object
 21  year                    1254557 non-null  float64
 22  usage                   1245714 non-null  object
 23  productDisplayName      1254412 non-null  object
 24  customer_gender         1254585 non-null  object
 25  birthdate               1254585 non-null  object
 26  device_type             1254585 non-null  object
 27  device_id               1254585 non-null  int64
 28  device_version          1254585 non-null  object
 29  home_location_lat       1254585 non-null  float64
 30  home_location_long      1254585 non-null  float64
 31  home_location           1254585 non-null  object
 32  first_join_date         1254585 non-null  object
dtypes: float64(5), int64(9), object(19)
memory usage: 325.4+ MB

In [9]:
df_2.memory_usage()

Index                     10036680
created_at                10036680
customer_id               10036680
session_id                10036680
payment_method            10036680
payment_status            10036680
promo_amount              10036680
promo_code                10036680
shipment_fee              10036680
shipment_date_limit       10036680
shipment_location_lat     10036680
shipment_location_long    10036680
total_amount              10036680
product_id                10036680
quantity                  10036680
item_price                10036680
product_gender            10036680
masterCategory            10036680
subCategory               10036680
articleType               10036680
baseColor                 10036680
season                    10036680
year                      10036680
usage                     10036680
productDisplayName        10036680
customer_gender           10036680
birthdate                 10036680
device_type               10036680
device_id                 10036680
device_version            10036680
home_location_lat         10036680
home_location_long        10036680
home_location             10036680
first_join_date           10036680
dtype: int64

### 3. 결론
: 파케이를 사용해서 파일 용량을 줄일 순 있으나 colab에서 데이터를 load할 때 차지하는 메모리는 변화가 없어 데이터에 대한 전처리가 필요

## 2. 데이터에 대한 추가 전처리 진행

In [23]:
df_ver2 = df.drop(columns=['shipment_date_limit', 'shipment_location_lat', 'shipment_location_long', 'home_location_lat', 'home_location_long', 'device_id', 'device_version'])

In [24]:
df_ver2['Category'] = df_ver2['masterCategory'] + " " + df_ver2['subCategory'] + " " + df_ver2['articleType']
df_ver2.drop(columns=['masterCategory', 'subCategory', 'articleType'], inplace=True)

In [34]:
df_ver2

,created_at,customer_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,total_amount,product_id,quantity,item_price,product_gender,baseColor,season,year,usage,productDisplayName,customer_gender,birthdate,device_type,home_location,first_join_date,Category
0,2018-07-29T15:22:01,5868,194913,Debit Card,Success,1415,WEEKENDSERU,10000,199832,54728,1,191247,Men,Black,Summer,2012.0,Casual,Vans Men Black Shoes,F,2000-08-20,Android,Jakarta Raya,2018-07-28,Footwear Shoes Casual Shoes
1,2018-07-30T12:40:22,4774,155874,Credit Card,Success,0,NaN,10000,155526,16193,1,145526,Men,Green,Fall,2011.0,Casual,Puma Men Knitted Vest Green Sweater,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Apparel Topwear Sweaters
2,2018-09-15T11:51:17,4774,489413,OVO,Success,0,NaN,10000,550696,53686,4,135174,Women,Purple,Summer,2012.0,Casual,Kiara Women Purple & Yellow Handbag,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Accessories Bags Handbags
3,2018-11-01T11:23:48,4774,627839,Credit Card,Success,0,NaN,0,271012,20228,1,271012,Women,Red,Fall,2011.0,Casual,Wrangler Women Cable Red Sweater,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Apparel Topwear Sweaters
4,2018-12-18T11:20:30,4774,742846,Credit Card,Success,0,NaN,0,198753,55220,1,198753,Women,Brown,Spring,2017.0,Casual,Lakme Absolute Forever Silk Chestnut Lip Liner 03,F,1996-03-15,Android,Sulawesi Selatan,2018-07-28,Personal Care Lips Lip Liner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254580,2021-09-21T22:10:05,25121,239980,Debit Card,Failed,0,NaN,0,226820,30642,2,113410,Men,White,Summer,2012.0,Casual,Nike Men Printed White T-shirt,M,1993-05-19,Android,Jawa Tengah,2020-11-12,Apparel Topwear Tshirts
1254581,2021-12-09T07:35:18,34829,496378,OVO,Success,5010,AZ2022,10000,359203,19394,1,354213,Men,Blue,Summer,2011.0,Casual,ADIDAS Men Solid Blue Jacket,F,2006-04-21,Android,Sulawesi Selatan,2021-12-08,Apparel Topwear Jackets
1254582,2021-12-11T01:20:36,99645,769040,Credit Card,Success,2181,WEEKENDSERU,5000,1158159,13079,4,288835,Men,White,Fall,2011.0,Casual,Numero Uno Men White Casual Shoes,F,1991-03-17,Android,Jakarta Raya,2021-12-08,Footwear Shoes Casual Shoes
1254583,2019-12-18T11:01:09,87319,623782,Credit Card,Success,4503,AZ2022,0,184143,11312,1,188646,Men,Beige,Fall,2011.0,Casual,Scullers Men Rugged Chinos Beige Trousers,F,2007-10-26,iOS,Jawa Tengah,2019-12-18,Apparel Bottomwear Trousers
1254584,2019-12-19T12:47:14,58180,312730,Gopay,Success,4724,BUYMORE,10000,365963,47433,1,360687,Women,Brown,Summer,2012.0,Casual,Baggit Women Brown Handbag,F,2003-11-04,Android,Jakarta Raya,2019-12-18,Accessories Bags Handbags

In [26]:
df_ver2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1254585 non-null  object
 1   customer_id         1254585 non-null  int64
 2   session_id          1254585 non-null  int64
 3   payment_method      1254585 non-null  object
 4   payment_status      1254585 non-null  object
 5   promo_amount        1254585 non-null  int64
 6   promo_code          481139 non-null   object
 7   shipment_fee        1254585 non-null  int64
 8   total_amount        1254585 non-null  int64
 9   product_id          1254585 non-null  int64
 10  quantity            1254585 non-null  int64
 11  item_price          1254585 non-null  int64
 12  product_gender      1254585 non-null  object
 13  baseColor           1254178 non-null  object
 14  season              1253982 non-null  object
 15  year                1254557 non-null  float64
 16  usage               1245714 non-null  object
 17  productDisplayName  1254412 non-null  object
 18  customer_gender     1254585 non-null  object
 19  birthdate           1254585 non-null  object
 20  device_type         1254585 non-null  object
 21  home_location       1254585 non-null  object
 22  first_join_date     1254585 non-null  object
 23  Category            1254585 non-null  object
dtypes: float64(1), int64(8), object(15)
memory usage: 239.3+ MB

In [35]:
df_ver2[df_ver2['baseColor'].isnull() == True]

,created_at,customer_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,total_amount,product_id,quantity,item_price,product_gender,baseColor,season,year,usage,productDisplayName,customer_gender,birthdate,device_type,home_location,first_join_date,Category
5027,2018-02-19T08:29:33,58233,329949,Credit Card,Success,2419,AZ2022,25000,182894,43116,1,160313,Women,NaN,Spring,2017.0,NaN,GUESS Seductive Women EDT Spray,F,1991-01-31,Android,Jakarta Raya,2017-07-15,Personal Care Fragrance Perfume and Body Mist
6162,2020-11-23T09:25:59,89241,261602,LinkAja,Success,0,NaN,5000,2478626,41357,3,488483,Men,NaN,Fall,2016.0,Casual,Wrangler Men Blue Millard Jeans,F,1990-03-30,Android,Jakarta Raya,2017-07-15,Apparel Bottomwear Jeans
8454,2018-08-04T05:16:56,79634,409963,Debit Card,Success,0,NaN,0,341446,43119,1,201179,Men,NaN,Spring,2017.0,NaN,NaN,M,1996-10-05,iOS,Jakarta Raya,2017-07-16,Personal Care Fragrance Perfume and Body Mist
9641,2018-10-16T01:39:42,80250,292664,LinkAja,Success,5034,AZ2022,5000,264589,43120,1,264623,Men,NaN,Spring,2017.0,NaN,GUESS by Marciano Men Eau De Toilette 50 ml,F,2002-05-17,iOS,Kalimantan Barat,2017-07-16,Personal Care Fragrance Perfume and Body Mist
12032,2022-06-07T18:50:21,46947,153411,Debit Card,Success,0,NaN,10000,1051668,30992,2,192485,Men,NaN,Spring,2017.0,NaN,NaN,F,1980-12-27,Android,Bali,2018-02-03,Personal Care Fragrance Perfume and Body Mist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244863,2021-08-20T02:32:16,16044,768068,Debit Card,Success,3800,AZ2022,10000,2258832,30992,3,200491,Men,NaN,Spring,2017.0,NaN,NaN,F,2000-12-31,Android,Jawa Timur,2021-06-22,Personal Care Fragrance Perfume and Body Mist
1245901,2022-04-26T14:36:10,10095,583934,Debit Card,Success,0,NaN,50000,322736,11288,1,272736,Men,NaN,Fall,2016.0,Casual,Wrangler Men Blue Texas Jeans,M,1979-08-06,Android,Kalimantan Timur,2021-01-15,Apparel Bottomwear Jeans
1249042,2019-10-18T22:12:52,29248,531363,Gopay,Success,0,NaN,10000,229770,43119,1,219770,Men,NaN,Spring,2017.0,NaN,NaN,F,1991-10-11,Android,Kalimantan Barat,2019-10-18,Personal Care Fragrance Perfume and Body Mist
1251918,2022-05-28T15:03:16,89623,117491,OVO,Success,0,NaN,0,2197199,43119,1,369771,Men,NaN,Spring,2017.0,NaN,NaN,M,1998-11-17,Android,Kalimantan Barat,2021-11-10,Personal Care Fragrance Perfume and Body Mist
1253451,2020-12-18T10:07:37,57773,765746,OVO,Success,5262,AZ2022,0,363886,43116,1,369148,Women,NaN,Spring,2017.0,NaN,GUESS Seductive Women EDT Spray,M,2002-03-31,Android,Kalimantan Selatan,2020-12-18,Personal Care Fragrance Perfume and Body Mist

In [37]:
df_ver2['baseColor'].replace('NaN' ,'unknown')
df_ver2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1254585 entries, 0 to 1254584
Data columns (total 24 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   created_at          1254585 non-null  object
 1   customer_id         1254585 non-null  int64
 2   session_id          1254585 non-null  int64
 3   payment_method      1254585 non-null  object
 4   payment_status      1254585 non-null  object
 5   promo_amount        1254585 non-null  int64
 6   promo_code          481139 non-null   object
 7   shipment_fee        1254585 non-null  int64
 8   total_amount        1254585 non-null  int64
 9   product_id          1254585 non-null  int64
 10  quantity            1254585 non-null  int64
 11  item_price          1254585 non-null  int64
 12  product_gender      1254585 non-null  object
 13  baseColor           1254178 non-null  object
 14  season              1253982 non-null  object
 15  year                1254557 non-null  float64
 16  usage               1245714 non-null  object
 17  productDisplayName  1254412 non-null  object
 18  customer_gender     1254585 non-null  object
 19  birthdate           1254585 non-null  object
 20  device_type         1254585 non-null  object
 21  home_location       1254585 non-null  object
 22  first_join_date     1254585 non-null  object
 23  Category            1254585 non-null  object
dtypes: float64(1), int64(8), object(15)
memory usage: 239.3+ MB

In [29]:
df_ver2.to_csv('fashion_logs.csv')